# Ignore node_modules (handled automatically by npm)
node_modules/

# Ignore environment files
.env

# Ignore build-related lock files
bun.lockb

# Ignore source files (only include compiled files in dist/)
src/

# Ignore test files and directories
tests/

# Ignore TypeScript configuration file (only needed for development)
tsconfig.json

# Ignore bun configuration file (not needed in the published package)
bunfig.toml

# Ignore Git-related files and directories
.git/
.gitignore
